h1, h2, h3, h4, h5, h6 {
    text-align: center;

}

input {
    font-size:1.6em;
}
#planner{
    background-color:whitesmoke;
    /* width: 700px; */
}

.leftCol{
    width: 75px;
    height: 40px;
    /* border-top-style:dotted ; */
    border-bottom-style:dotted ;
    padding: 2px;
    margin: 2px;
    float:left;
}
.savebtn{
    width: 50px;
    height: 40px;
    border-style:solid;
    padding: 2px;
    margin: 2px;
    float:right;
}
.hours{
    width: 75%;
    height: 40px;
    border-style:solid;
    padding: 2px;
    margin: 2px;
    /* float:left; */
}
.hour-button{
    color:darkmagenta;
}

.hour-button-color{
    color: darkcyan;
}

#display {
    margin-top: 70px;
    height:500px;
    width:700px;
    margin-left: 50px;
}
